*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.Login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    width: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    background:transparent;
    border-radius: 5px;
    
}
.text_1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.text_2{
    display: block;
    width: 180px;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 7px;
    border-style: solid;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
}
.text_3{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}
.login_button{
    width: 160px;
    margin-left: 10%;
    margin-bottom: 30px;
    font-size: 15px;
    cursor: pointer;
    border-width: 0px;
    background-color: rgb(63, 165, 42);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin-top: 30px;
    
}
.login_button:active{
    opacity: 0.7;

}
.text_4{
    font-weight: lighter;
    font-size: 15px;
}
.text_4 .text_3{
    display: flex;
}
.logo{
    width: 35px;
    margin-top: 15px;
    gap: 5rem;
    cursor: pointer;
}
.logos{
    margin-left: 40px;
}
.redirect{
    color: black;
    margin-left: 93%;
    font-size:20px;
    margin-top: 20px;
}
.redirect_link{
    text-decoration: none;
}